[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
drf-nested-routers = "*"
djangorestframework = "*"
mysqlclient = "*"
mysql = "*"
shell = "*"
django-filter = "*"
django-debug-toolbar = "*"
routers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"

[requires]
python_version = "3.9"
